# Introducción a la programación - cap. 2

In [1]:
try:
    import pandas as pd
    print("Libreria: 'pandas' esta instalada y se cargo correctamente")
except ModuleNotFoundError:
    print("Libreria: 'pandas' no esta instalada, se debe instalar")
    !pip install pandas
    import pandas as pd

Libreria: 'pandas' esta instalada y se cargo correctamente

In [2]:
try:
    import numpy as np 
    print("Libreria: 'numpy' esta instalada y se cargo correctamente")
except ModuleNotFoundError:
    print("Libreria: 'numpy' no esta instalada, se debe instalar")
    !pip install numpy
    import numpy as np

Libreria: 'numpy' esta instalada y se cargo correctamente

In [3]:
def load_file(excel_file_name, excel_sheet_name_list, excel_num_head):
    tmp_Data_Frame = pd.read_excel(excel_file_name, 
                                   header = excel_num_head, 
                                   sheet_name = excel_sheet_name_list,
                                   dtype={'Mes': str},
                                   verbose=True)
    return tmp_Data_Frame

In [4]:
bfFileName = ['LLL.xlsx', 'lll', '0']

In [6]:
df = load_file('./data/' + bfFileName[0] , bfFileName[1], int(bfFileName[2]))

Reading sheet lll

In [7]:
df.head(3)

     Yacimiento  rama_hrz_m  ctd_fracturas  arena_tn  agua_m3
0  Loma la Lata       891.3             10   2250.32  16332.4
1  Loma la Lata       901.3             10   2214.63  14292.0
2  Loma la Lata       820.3             11   2220.80  14108.2

In [10]:
(df.round(1)).head()

     Yacimiento  rama_hrz_m  ctd_fracturas  arena_tn  agua_m3
0  Loma la Lata       891.3             10    2250.3  16332.4
1  Loma la Lata       901.3             10    2214.6  14292.0
2  Loma la Lata       820.3             11    2220.8  14108.2
3  Loma la Lata       815.1             10    1279.1  10295.9
4  Loma la Lata       285.3              4     681.9   3630.2

In [12]:
df.to_csv("./Data/lll.csv", sep=';', index=False, encoding='utf-8', float_format='%.3f', decimal='.')

________________________

Yacimiento;rama_hrz_m;ctd_fracturas;arena_tn;agua_m3
Loma la Lata;891.300;10;2250.320;16332.400
Loma la Lata;901.300;10;2214.630;14292.000
Loma la Lata;820.300;11;2220.800;14108.200
Loma la Lata;815.100;10;1279.130;10295.900
Loma la Lata;285.300;4;681.890;3630.200

______________